<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include "meta.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello Doctor</title>
  </head>
  <body>
    <div class='text-center'>

      <h1>Hello, Doctor</h1>
    </div>
    <div class='container'>
    <div class='row'>
      <div class='col'>
          <div class='"col-md-2 col-md-offset-5"'>
          <form method='post' action="{% url 'home_page' %}">{% csrf_token %}
            {{form}}
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}
  </body>
</html>