{% load staticfiles %}
<meta content="text/html; charset=utf-8" http-equiv=content-type>
<meta charset=UTF-8>
<meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name=viewport>
<title>Hello Doctor! Easy Prescription for Doctor</title>
<link href="static/fevi.png" hreflang=en-us rel=icon type=image/png>
<meta content="Hello Doctor! Easy Prescription for Doctor" property=og:title>
<meta content="When you’re sick, the last thing you want to do is go anywhere" property=og:description>
<meta content=website property=og:type>
<meta content=index.html property=og:url>
<meta content="Shahariar Rabby" property=og:site_name>
<meta content="{% static 'og.png' %}" property="og:image">
<meta content=623 property=og:image:width>
<meta content=373 property=og:image:height>
<meta content=image/png property=og:image:type>
<meta content=en_US property=og:locale>
<meta content="When you’re sick, the last thing you want to do is go anywhere." name=description>
<meta content="development, web, shahariar, rabby, shahariarrabby, Django, Health, health-care, " name=keywords>
<meta content="Hello Doctor! Easy Prescription for Doctor" itemprop=name>
<meta content="When you’re sick, the last thing you want to do is go anywhere." itemprop=description>
<meta content="static/og.png" name="twitter:image:src" />
<meta name="google-site-verification" content="ukSasxzGloV2MswqGMJRRXq1Wh85HvZs_WVDT52APus" />